.timer{
    margin: 200px auto auto auto;
    padding: 0px 40px 0px 40px;
    display: table;
    height: 100px;
    text-align: center;
    background: linear-gradient(90deg, rgba(9,121,57,1) 25%, rgba(7,140,167,1) 85%);

    border-radius: 8px;
    overflow: hidden;
}
.timer-number{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: table-cell; 
    vertical-align: middle;
    font-size: 60px;
    color:white;
}